*{
    margin:0;
    padding:0;
} 
h1 {
    background: orange;
    color: #000;
    text-align: center;
    padding: 20px;
    margin-bottom:10px;
}
h2 {
    /* background: orange; */
    color: #000;
    text-align: center;
    padding: 20px;
    margin-bottom:10px;
}
.inputarea {
    display:block;
    align-items: center;
}
.my-form {
    padding: 20px;
}
/* .my-form .inputarea {
    padding-bottom:10px;
} */
.my-form label{
    display:block;
    padding-bottom:10px;
    font-size:1.6em;
    
}
.my-form input[type="text"]{
    padding: 8px;
    width:90%;
    margin-bottom:10px;
}
.button{
    background-color: #000;
    color:white;
    padding:10px 20px;
    border:none;
}
.button:hover{
    background-color: orange;
    color:#000;
}
#temperature {
    text-align: center;
    font-size: 5em;
}

.cold {
    color: blue;
}

.hot {
    color: red;
}
.output p{
    display: flex;
    background-color: aqua;
}