@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
*{
    margin:0;
    padding:0;
    font-family: 'Raleway', sans-serif;
} 
h1 {
    background: orange;
    color: #000;
    text-align: center;
    padding: 20px;
    margin-bottom:10px;
}
h2 {
    /* background: orange; */
    color: #000;
    text-align: center;
    padding: 20px;
    margin-bottom:10px;
}
.inputarea {
    display:block;
    align-items: center;
}
.my-form {
    padding: 20px;
}
/* .my-form .inputarea {
    padding-bottom:10px;
} */
.my-form label{
    display:block;
    padding-bottom:10px;
    font-size:1.6em;
    
}
.my-form input[type="text"]{
    padding: 8px;
    width:90%;
    margin-bottom:10px;
}
.button{
    background-color: #000;
    color:white;
    padding:10px 20px;
    border:none;
}
.button:hover{
    background-color: orange;
    color:#000;
}
#loading {
    background-color: rgba(255, 255, 255, 0.8);
    position: fixed;
    top: 40%;
    left: 40%;
    display: none;
}
#temperature {
    text-align: center;
    font-size: 5em;
}

.cold {
    color: blue;
}

.hot {
    color: red;
}
p {
    padding:5px 20px;
    letter-spacing: 1px;
    font-weight: bold;
    text-align: center;
    word-spacing: 5px;
}

@media (max-width:600px) {
    #temperature {
        font-size: 3em;
    }
}